body {
    background: linear-gradient(180deg, rgba(96,52,127,1) 0%, rgba(191,73,146,1) 35%, rgba(110,42,86,1) 100%);
    backdrop-filter: brightness(0.7) blur(5px);
    font-family: Poppins;
}

/* CSS BARRA DE SCROLL */

/* tamanho da estrutura */
::-webkit-scrollbar {
    width: 10px;
}
    
/* cor da estrutura */
::-webkit-scrollbar-track {
    background: #212529;
}
    
/* barra */
::-webkit-scrollbar-thumb {
    background: none; 
    border-radius: 10px;
}
    
/* hover da barra*/
::-webkit-scrollbar-thumb:hover {
    background: #6a88ff; 
}

/* CSS BARRA DE SCROLL */

.header-login{
    position: absolute;
    z-index: 1;
}

.logo {
    color:white;
    font-weight: bold;
}

.logo:hover {
    color: #8BA2FF;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    z-index: -1;
}

.form-container {
    max-width: 85%; /* tamanho da div do form */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%; /* Espaço entre os dois form */
    margin: 0 auto;
}

.form-cadastro, 
.form-direito {
    background: rgba(42, 39, 49, 0.3); /* 0.3 é a opacidade */
    padding: 30px; /* Tamanho aumentado */
    border-radius: 20px;
}

.form-direito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-cadastro {
    background-color: #ffffff;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}

.radio-cadastro {
    margin-top: 5%;
}

.btn-cadastro {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8BA2FF;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-cadastro:hover {
    background-color: #6a88ff;
}

.label-cadastro {
    color: white;
    font-weight: bold;
}

.link-login{
    color: #8BA2FF;
    text-decoration: none;
}

.link-login:hover {
    text-decoration: underline;
}


@media (max-width: 754px) {
    .form-container {
        flex-direction: column;
        padding-top: 3rem;
    }

    .form-cadastro,
    .form-direito {

        background: rgba(42, 39, 49, 0.3); 
        flex: 1;
        padding: 30px; 
        border-radius: 0;
    }

    .form-direito {
        border-top: 1px transparent;
        border-radius: 0px 0px 20px 20px;
    }

    .form-cadastro {
        border-bottom: 1px transparent;
        border-radius: 20px 20px 0px 0px;
    }

    .background-img {
        display: none;
    }
}