body {
    background-color: #2A2731;
    font-family: Poppins;
}

/* CSS BARRA DE SCROLL */

/* tamanho da estrutura */
::-webkit-scrollbar {
    width: 10px;
}
    
/* cor da estrutura */
::-webkit-scrollbar-track {
    background: none; 
    
}
    
/* barra */
::-webkit-scrollbar-thumb {
    background: none; 
    border-radius:10px;
}
    
/* hover da barra*/
::-webkit-scrollbar-thumb:hover {
    background: #6a88ff; 
}

/*CSS BARRA DE NAVEGAÇÃO*/

.navBar {
    background-color: #000000;
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 12px;
}

.logo {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 30px;
}

.link-hover{
    color: #ffffff;
}

.link-hover:hover{
    color: #8BA2FF;
}

.btn-login {
    background-color: #8BA2FF;
    color: #ffffff;
    font-weight: 500;
    border: none;
    text-decoration: none;
}

.btn-login:hover {
    background-color: #6a88ff;
}

.perfil-foto {
    width: 60px; /* Tamanho da foto de perfil */
    height: 60px;
    border-radius: 50%; /* Para torná-la redonda */
    margin-right: 30px;
}

/*CSS BARRA DE NAVEGAÇÃO*/

.titulo {
    color: #8BA2FF;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 60px;
}

.marginBarra {
    margin-bottom: 60px;
}

.barra {
    opacity: 0.5;
    background-color: #2A2731;
    border-radius: 20px;
}

.barra:focus {
    background-color: #2A2731;
    color: #ffffff;
    border: 2px solid #8BA2FF;
    box-shadow: 0 0 3px 2px #8BA2FF;
}

.barra::placeholder {
    color: #ffffff;
}

.card {
    background-color: #2A2731;
    color: white;
    width: 18rem;
    border: none;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px #000000;
    top: -4px;
}

.marginCards {
    margin-bottom: 30px;
}

@media  (min-width: 1200px) and (max-width: 1400px) {
    .card {
        width: 15rem;
        height: auto;
    }
}