.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    z-index: -1;
}

.card-login {
    background: rgba(218, 107, 218, 0.3);
    /* Green background with 30% opacity */
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#tituloLogin {
    margin-bottom: 20px;
    color: #ffffff;
}

#formLogin {
    text-align: left;
    margin-bottom: 20px;
}

.label-login {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.input-login {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#btnLogin {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#btnLogin:hover {
    background-color: #0056b3;
}

#linkLogin{
    color: #007BFF;
    text-decoration: none;
}

#linkLogin:hover {
    text-decoration: underline;
}