/* CSS BARRA DE SCROLL */

/* tamanho da estrutura */
::-webkit-scrollbar {
    width: 10px;
}

/* cor da estrutura */
::-webkit-scrollbar-track {
    background: #2A2731;

}

/* barra */
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
}

/* hover da barra*/
::-webkit-scrollbar-thumb:hover {
    background: #6a88ff;
}

/* CSS BARRA DE SCROLL */

.navBar {
    background-color: #000000;
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 12px;
}

.logo {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 30px;
}

.link-hover {
    color: #ffffff;
}

.link-hover:hover {
    color: #8BA2FF;
}


.btn-login {
    background-color: #8BA2FF;
    color: #ffffff;
    font-weight: 500;
    border: none;
    text-decoration: none;
}

.btn-login:hover {
    background-color: #6a88ff;
}

.navbar-foto {
    width: 60px;
    /* Tamanho da foto de perfil */
    height: 60px;
    border-radius: 50%;
    /* Para torná-la redonda */
    margin-right: 30px;
}

/* navbar css*/

.perfil-capa {
    position: relative;
    width: 100%;
    z-index: 0;
}

.capa-foto {
    width: 851px;
    /* Largura aproximada de uma foto de capa típica do Facebook */
    height: 315px;
    /* Altura aproximada de uma foto de capa típica do Facebook */
    width: 100%;
    object-fit: cover;
}

.perfil-nome {
    margin-right: 25px;
    color: #FFFFFF;
}

.data-nasc {
    font-size: 16px;
    color: #FFFFFF;
}


.perfil-foto {
    width: 150px;
    /* Tamanho da foto de perfil */
    height: 150px;
    border-radius: 50%;
    /* Para torná-la redonda */
    margin-top: -75px;
    /* Ajuste para centralizar verticalmente */
    z-index: 12;
}

.perfil-info {
    text-align: center;
    margin-top: 10px;
}

/* Estilos para os elementos de estatísticas do perfil */
.perfil-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    /* Ajuste de largura máxima para os elementos de estatísticas */
    margin-top: 20px;
    margin-bottom: 210px;
    color: #FFFFFF;
}

.perfil-stats-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-seguir {
    margin-left: auto;
    /* Move o botão de seguir para a direita */
    background-color: #8BA2FF;
    color: #ffffff;
    font-weight: 200;
    border: none;
    text-decoration: none;
    border-radius: 10;
}

.perfil-bio {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
    /* Cor do texto da biografia */
    /* Outros estilos conforme necessário */
}





/* Estilos adicionais podem ser adicionados conforme necessário */