body {
    background-color: #2A2731;
    font-family: Poppins;
}

/* CSS BARRA DE SCROLL */

/* tamanho da estrutura */
::-webkit-scrollbar {
    width: 10px;
}

/* cor da estrutura */
::-webkit-scrollbar-track {
    background: #212529;
}

/* barra */
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
}

/* hover da barra */
::-webkit-scrollbar-thumb:hover {
    background: #6a88ff;
}

/* CSS BARRA DE SCROLL */

/* CSS BARRA DE NAVEGAÇÃO */

.swiper-dos-crias{
    width: 100%;
    height: 100%;
}

.container-swiper{
    margin-bottom:10%;
}

.projeto-txt{
    margin-bottom: 4%;
}
.slider{
    margin: 0 40px;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider .image-items{
    height: 100%;
  }
  
  .slider .image-items .image{
    height: 100%;
  }

  .swiper-tamanho{
    height:100%;
  }
  
  .slider .image-items .image img{
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .arrowButton{
    position: absolute !important;
    top: 50% !important;
    color: black !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background-color: white !important;
    padding: 10px !important;
  }
  
  .arrowButton.left{
    left: 0 !important;
  }

  
  
  .arrowButton.right{
    right: 0 !important;
  }
  
  .arrowButton::after{
    font-size: 20px !important;
  }
  
  @media only screen and (max-width:868px){
    .slider{
        margin: 0 20px;
    }
  }

#navBar {
    background-color: #000000;
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 12px;
}

.logo {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 30px;
}

.link-hover {
    color: #ffffff;
}

.link-hover:hover {
    color: #8BA2FF;
}

.btn-login {
    background-color: #8BA2FF;
    color: #ffffff;
    font-weight: 500;
    border: none;
    text-decoration: none;
}

.btn-login:hover {
    background-color: #6a88ff;
}

/* CSS BARRA DE NAVEGAÇÃO */

.box-perfil {
    margin-left: 16rem;
}

.capa-foto {
    display: block;
    max-width: 100%;
    height: auto;
}

.foto-perfil {
    border-radius: 100%;
    border: 6px solid black;
    margin-top: -5rem;
    max-width: 100%;
    height: auto;
    position: absolute;
}

@media (max-width: 600px) {
    .box-perfil {
        margin-left: 0px;
        margin-top: 25%;
    }

    .foto-perfil {
        width: 35%;
        height: auto;
        margin-top: -3rem;
    }
}

.nome-perfil {
    color: #ffffff;
}

.bseguir-perfil {
    background-color: #8BA2FF;
    color: #ffffff;
    width: 8rem;
    height: 3rem;
    border-radius: 14px;
    border: none;
    margin-right: 2rem;
}

.qt-seguidores {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.teste {
    width: 100%;
    height: 20rem;
    border-radius: 20px;
    background-color: #8BA2FF;
}

.projeto-perfil {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.perfil-nome {
    margin-right: 25px;
    color: #FFFFFF;
}

.data-nasc {
    font-size: 16px;
    color: #FFFFFF;
}


.perfil-foto {
    border-radius: 50%; /* Para torná-la redonda */
}

.perfil-nav-foto {
    width: 60px; /* Tamanho da foto de perfil */
    height: 60px;
    border-radius: 50%; /* Para torná-la redonda */
    margin-right: 30px;
}

.perfil-info {
    text-align: center;
    margin-top: 10px;
}

/* ESTILOS PARA OS ELEMENTOS DE ESTATÍSTICAS DO PERFIL */

.perfil-stats {
    color: #FFFFFF;
    width: 100%;
    margin-right: 10rem;
}

.perfil-stats-left {
    gap: 20px;
}

.button-seguir {
    background-color: #8BA2FF;
    color: #ffffff;
    font-weight: 200;
    border: none;
    text-decoration: none;
    width: 19.5rem;
}

.perfil-bio {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff; /* Cor do texto da biografia */
    /* Outros estilos conforme necessário */
    text-align: left;
    max-width: 70vw;
}

/* ESTILOS PARA OS ELEMENTOS DE ESTATÍSTICAS DO PERFIL */

/*FOOTER*/

.titulo-footer {
    color: #8BA2FF;
}

.link-footer {
    color: white;
}

.link-footer:hover {
    color: #8BA2FF;
}

/*FOOTER*/

/* Estilos adicionais podem ser adicionados conforme necessário */