body {
  background-color: #633263;
  font-family: Poppins;
  margin: 0;
}

/* CSS BARRA DE SCROLL */

/* tamanho da estrutura */
::-webkit-scrollbar {
  width: 10px;
}

/* cor da estrutura */
::-webkit-scrollbar-track {
  background: #212529;

}

/* barra */
::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

/* hover da barra */
::-webkit-scrollbar-thumb:hover {
  background: #6a88ff;
}

/* CSS BARRA DE SCROLL */

/* CSS BARRA DE NAVEGAÇÃO */

#navBar {
  background-color: #000000;
  margin-top: -8px;
  margin-bottom: -8px;
  padding: 12px;
}

.logo {
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 30px;
}

.link-hover {
  color: #ffffff;
}

.link-hover:hover {
  color: #8BA2FF;
}

.btn-login {
  background-color: #8BA2FF;
  color: #ffffff;
  font-weight: 500;
  border: none;
  text-decoration: none;
}

.btn-login:hover {
  background-color: #6a88ff;
}

/* CSS BARRA DE NAVEGAÇÃO */


.icone-perfil{

  width:150px;
}
.perfil-nav-foto {
  width: 60px; /* Tamanho da foto de perfil */
  height: 60px;
  border-radius: 50%; /* Para torná-la redonda */
  margin-left:55%;

}

.nav-nome{
  position:relative;
  right:-75px;
}

.dropdown-menu{
  background-color:#000000;

  
}
.dropdown-txt{
  color:#ffffff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.titulo {
  color: #ffffff;
  font-weight: bold;
}

.texto-celeste {
  text-align: justify;
  max-width: 53vw;
}

.texto-projeto {
  text-align: justify;
  color: #ffffff;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 45px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -120px;
  background-color: #6a88ff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.like-projeto {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px;
  font-size: 1.1rem;
  color: #000000;
  cursor: pointer;
}

.like-projeto:hover path {
  fill: #6a88ff;
}

.label {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.label svg {
  margin-right: 4px;
}

.label path {
  fill: #8a8d9b;
}

.number {
  color: #8a8d9b;
}

.comment-box {
  clear: both;
  margin-top: 20px;
  padding: 20px;
}

.comment-box textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

/*FOOTER*/

.titulo-footer {
  color: #8BA2FF;
}

.link-footer {
  color: white;
}

.link-footer:hover {
  color: #8BA2FF;
}

/*FOOTER*/

@media (min-width: 992px) and (max-width: 1920px) {
  .container {
    width: 70%;
  }

  .imagens-projeto {
    margin-left: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 70%;
  }
}