body {
    background-color: #2A2731;
}

.navBar {
    background-color: #000000;
    margin-top: -8px;
    padding: 12px;
}

.logo {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 30px;
}

.links {
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

.login {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 500;
    border: none;
    text-decoration: none;
}

.cadastro {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 500;
    border: none;
    text-decoration: none;
}

.botaoForm {
    margin-right: 30px;
}

.textosIniciais {
    margin: 10%;
}

.titulo {
    color: #ffffff;
    font-weight: 700;
    font-size: 100px;
}

.subtitulo {
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    color: #000000;
}

.secao1 {
    display: flex;
}

.imagem1 img {
    max-width: 100%;
    height: auto;
  }

  @media screen and  (max-width: 1920px ) { /*DESKTOP Grande*/
      .titulo {
          font-size: 175%;
          width: 123%;
      }

      .botoes{
        margin-left: 1220px;
      }
  
      .subtitulo {
          font-size: 110%;
      }
  } /*DESKTOP*/

  @media screen and  (max-width: 1200px ) { /*DESKTOP Médio*/
      .titulo {
          font-size: 175%;
          width: 123%;
      }

      .botoes{
        margin-left: 500px;
      }
  
      .subtitulo {
          font-size: 110%;
      }
  } /*DESKTOP*/

@media screen and (max-width: 576px ) { /*CELULAR*/
    .secao1 {
        flex-direction: column;
        align-items: center; /*Centralizando a imagem e o titulo*/
    }

    .titulo {
        font-size: 153%;
    }

    .subtitulo {
        font-size: 105%;
    }

    .barraPesquisa {
        width: 49%;
        justify-content: center;
    }

    .botoes {
        margin-left: 0px;
    }

    .criarConta {
        display: none;
    }

    .imagem1{
        width: 86%;
        height: auto;
        margin-top: -60px;
    }
} /*CELULAR*/


@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
 }
 
  .img1{
    animation: go-back 1.5s;
 }

 .titulo span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.titulo span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #008AD7;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.titulo span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.titulo span:nth-of-type(1)::before,
.titulo span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.titulo span:nth-of-type(2)::before,
.titulo span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

.subtitulo span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.subtitulo span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #070707;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.subtitulo span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.subtitulo span:nth-of-type(1)::before,
.subtitulo span:nth-of-type(1)::after{
    animation-delay: 2s;
}

.subtitulo span:nth-of-type(2)::before,
.subtitulo span:nth-of-type(2)::after{
    animation-delay: 2s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
 }
 
  .img2{
    animation: go-back 1.5s;
 }
